{% extends 'home/base.html' %}
{% load static %}
{% block title %}
	درباره ما | فروشگاه کارزیبا	
{% endblock %}
{% block section %}
    <div id="contact-page" class="container">
            <div class="bg">
                <div class="row"> 
                    <div class="col-sm-4">
                        <div class="contact-info">
                            <h2 class="title text-center">لوگـو شرکت</h2>
                            <img src="{{ setting.site_logo.url }}" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="about">
                            <h2 class="title text-center">دربـاره ما</h2>
                            <p class="about-desc">
                                {{ setting.about_us_text }}
                            </p>
                        </div>
                    </div>    			
                </div>  
                
                <div class="row">
                    <div class="col-sm-12 about-address">
                        <address>
                            <p>
                                | {{ setting.site_name }} <br>
                                | تلفن تماس : {{ setting.site_phone }} <br>
                                | آدرس : {{ setting.site_address }} <br>
                                {% if setting.site_fax %}
                                    |فکس : {{ setting.site_fax }}
                                {% endif %} 
                                {% if setting.site_email %}
                                    |ایمیـل : {{ setting.site_email }}
                                {% endif %}
                            </p>
                        </address>
                    </div>
                </div>
                
                <div class="row">
                    <div class="container">
                        <div class="col-sm-12" style="overflow: hidden; margin-bottom: 40px">
                            <h2 class="title text-center">مـا اینجـا هستیـم ... </h2>
                            <div id="gmap" class="contact-map">
                                <img src="{% static 'images/home/Map.jpg' %}" alt="Map">
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
    </div>
{% endblock %}